[submodule "libs/godot-cpp"]
	path = libs/godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
[submodule "libs/steamaudio"]
	path = libs/steamaudio
	url = https://github.com/ValveSoftware/steam-audio.git
[submodule "libs/wwise-godot"]
	path = libs/wwise-godot
	url = https://github.com/alessandrofama/wwise-godot-integration.git
